APP_NAME=placeholder_app_name
DB_HOST=placeholder_localhost
DB_PORT=placeholder_port
DB_NAME=placeholder_db
DB_USER=placeholder_user
DB_PASSWORD=placeholder_password
JWT_SECRET_KEY=YOUR_SUPER_SECRET_MINIMUM_64_CHARACTER_KEY_GOES_HERE
JWT_ISSUER=placeholder_issuer
JWT_AUDIENCE=placeholder_audience

# Email client settings
MailSettings__MailAddress=placeholder_mailaddress
MailSettings__AppName=placeholder_appname
MailSettings__MailPassword=placeholder_smpt_app_password
MailSettings__MailHost=placeholder_smtp_host
MailSettings__MailPort=placeholder_smtp_port